/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
/* [data-theme=light],
 :root:not([data-theme=dark]) { */
/* --pico-text-selection-color: rgba(244, 93, 44, 0.25); */
/* --pico-primary: #bd3c13;
   --pico-primary-background: #d24317;
   --pico-primary-underline: rgba(189, 60, 19, 0.5);
   --pico-primary-hover: #942d0d;
   --pico-primary-hover-background: #bd3c13;
   --pico-primary-focus: rgba(244, 93, 44, 0.5);
   --pico-primary-inverse: #fff;
 } */

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
/* @media only screen and (prefers-color-scheme: dark) {
   :root:not([data-theme]) {
     --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
     --pico-primary: #f56b3d;
     --pico-primary-background: #d24317;
     --pico-primary-underline: rgba(245, 107, 61, 0.5);
     --pico-primary-hover: #f8a283;
     --pico-primary-hover-background: #e74b1a;
     --pico-primary-focus: rgba(245, 107, 61, 0.375);
     --pico-primary-inverse: #fff;
   }
 } */
/* Orange color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
/* [data-theme=dark] {
   --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
   --pico-primary: #f56b3d;
   --pico-primary-background: #d24317;  
   --pico-primary-underline: rgba(245, 107, 61, 0.5);
   --pico-primary-hover: #f8a283;
   --pico-primary-hover-background: #e74b1a;
   --pico-primary-focus: rgba(245, 107, 61, 0.375);
   --pico-primary-inverse: #fff;
 } */


[data-theme=light],
:root:not([data-theme=dark]) {
  color-scheme: light;
  --pico-background-color: white;
  /* --pico-color: #373c44; Color texte, par exemple */
  --pico-primary-background: #545D61;
  --pico-primary-hover-background: #e48547ff;

  /* --pico-card-background-color: #fff;  */

  --pico-secondary: blue;
  --pico-secondary-background: purple;

  header {
    background-color: var(--pico-primary-background);
  }
}

/** Configuration du theme "dark" **/
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-primary-background: #545D61;

    --pico-primary-hover-background: #e48547ff;
    /* --pico-primary-focus: #e48547ff; */
  }
}

[data-theme=dark] {
  --pico-primary-background: #545D61;

  --pico-primary-hover-background: #e48547ff;

  /* --pico-primary-focus: #e48547ff; */

}


header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#logo {
  max-width: 30%;
}

/* Style du composant comprenant les actions pouvant être effectuées sur la liste */
main > .buttons {
  display: flex;
  justify-content: flex-end;
}

/* Code permettant de styliser le composant qui affiche les informations d'un morçeau */


.icons {
  display: flex;
  gap: 10px;
  grid-column: 1 / 3;
}

i {
  height:1rem;
  font-size: 3.75em;
}

/** Style pour les cards présentant les morçeaux  **/
.score-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 5px;
}

@media screen and (min-width: 768px) {

  .score-info {
    display: flex;
    flex-direction: column;
  }
  
}